body {
    font-family: "Lato", sans-serif;

    background-image: url("../img/background.jpg");
}

.sidenav {
    height: 100%;
    width: 20px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(18, 18, 18, 0.6) !important;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.closebtn{
    height: 100%;    
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#tblMain{
    color: white;
}

.panel-default{
    background-color: rgba(242, 38, 19, 0.3) !important;
}
.sidenav a:link {
    text-decoration: none;
}

.sidenav a:visited {
    text-decoration: none;
}

.sidenav a:hover {
    text-decoration: none;
}

.sidenav a:active {
    text-decoration: none;
}

.modal-content{
    background-color: rgba(20, 29, 32, 1) !important;
    color : white !important;
}

.modal-body{
    background-color: #424C55;
}

.btn-danger{
    background-color: rgba(242, 38, 19, 0.8) !important;
}

.form-control{
    background-color: rgba(18, 18, 18, 0.6) !important;
    border: 1px solid white;
    color: rgba(255, 255, 255, 0.8) !important;
}

.btn-warning{
    background-color: #424C55 !important;
    border: 1px solid white !important;
}

.glyphicon-plus{
    font-size: 30px;
}

.glyphicon-trash{
    font-size: 20px
}